@font-face {
    font-family: 'Open Sans Light';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

/* Links */
 a,
 a:focus,
 a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'RalewayLight';
    src: url('font/Raleway-Light.ttf') format('truetype');
}

body {
  font-family: 'Raleway' !important;
  background-color: #e7e7e7;
}

footer {
    background-color: #eaeaea;
    margin-top: 120px;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 20px;
}

/*Header*/
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}

.masthead-nav > li + li {
    margin-left: 20px;
}

.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 14px;
    color: #000; /* IE8 proofing */
    padding-bottom: 0px !important;
    border: 0;
}

.masthead-nav a,
.masthead-nav a:hover,
.masthead-nav a:focus
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #006940;
    border-bottom: 2px solid #006940;
    background-color: transparent;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent !important;
}

.masthead-nav > li .active {
    border-bottom: 2px solid #006940;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: right;
    }
}

/*
 * Cover
 */

 .cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
 * Affix and center
 */

 @media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
    margin-left: 20px;
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

/*Aarao*/
/*Header*/
.lang {
    position: absolute;
    right: 0;
    color: #000000;
    display: inline-block;
    vertical-align: middle;
}

.language {
  font-size: 12px;
  display: inline-block;
  padding-right: 10px;
}

.button {
  font-size: 14px !important;
  border-radius: 0px !important;
  background-color: #f2f2f2 !important;
  color: black;
  width: 53px;
  height: 38px;
}

.button-select {
  border-radius: 0px !important;
  background-color: #006940 !important;
  color: black;
  width: 32px;
}

.dropdown {
  font-size: 14px;
  background-color: #ffffff;
  margin: 0px !important;
  border-radius: 0px !important;
  border: 0px !important;
  max-width: 83px;  
  text-align: left;
  box-shadow: none;
}

.menu {
  display: inline-block;
  padding-top: 32px;
  padding-left: 25px;
  font-size: 14px; 
  background-color: transparent !important;
  border-color: transparent !important;
  margin-bottom: 0 !important;
  border: none !important; 
}

/*Body*/

.pageOption {
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0.1; 
  margin: 0 auto;
  width: 930px; 
  height: 430px;
}

.option, .option img {
  width: 100%;
  height: 100%;
}

.option {
  overflow: hidden;
  -webkit-transform: skewX(0deg);
  -webkit-transform-origin: 100% 100%;
}

.title {
  font-family: 'Raleway Thin';
  font-size: 48px;
  text-align: left;
  padding-top: 20px;
}

@font-face {
  font-family: 'Raleway Thin';
  src: url('font/Raleway-Thin.ttf') format('truetype');
}

.news {
  font-family: 'Raleway ExtraLight';
  font-size: 24px;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 15px;
  display: inline-block;
}

@font-face {
  font-family: 'Raleway ExtraLight';
  src: url('font/Raleway-ExtraLight.ttf') format('truetype');
}

.left {
  color: #565656;
  font-family: 'Glyphicons';
  padding-left: 300px;
  display: inline-block;
}

.right {
  color: #016941;
  font-family: 'Glyphicons';
  padding-left: 20px;
  display: inline-block;
}

@font-face {
  font-family: 'Glyphicons';

  src: url('../css/font/glyphicons-halflings-regular.eot') !important;
  src: url('../css/font/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../css/font/glyphicons-halflings-regular.woff') format('woff'), url('../css/font/glyphicons-halflings-regular.ttf') format('truetype'), url('../css/font/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg') !important;
}

.title-news {
  vertical-align: top;
}

.text-news {
  vertical-align: top;
  max-width: 130px;
}

table {
  width: 100%;
}

.read-more {
  color: #33795a;  
}

/*Footer*/
footer {
  width: 100%;
  height: 100%px;
  border-top: 1px solid #ffffff;
}

.footer {
  margin-left: 22px;
}

.footer-title {
  font-size: 24px;
  font-family: 'Raleway ExtraLight';
  margin-top: 40px;
}

.shape {
  padding-left: 10px;
}

.footer-img-portugal {
  margin: 1%;
}

.footer-img {
  margin: 1%;
}

.copyright {
  margin-left: 15px;
  margin-top: 100px;
}


.imgHeader {
    background-color: #b9b9b9;
    height: 150px;
    width: 100%;
    overflow: hidden;
}

.triangle-left-grey {
    position: absolute;
    top: 150px;
    left: 70px;
    z-index: 0;
    width: 200px;
    height: 0;
    border-style: solid;
    border-width: 150px 150px 0 0;
    border-color: #e7e7e7 transparent transparent transparent;
}

.triangle-left {
    position: absolute;
    top: 150px;
    left: 0;
    z-index: 1;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 250px 250px 0 0;
    border-color: #eee transparent transparent transparent;
}

.img-news {
    background: url('../img/top-news.jpg') no-repeat center;
    background-size: cover;
    margin-left: 100px;
    width: 850px;
    height: 150px;
    z-index: -1;
}

.triangle-darkgreen {
    position: absolute;
    right: 415px;
    top: 150px;
    z-index: 1;
    width: 200px;
    height: 0;
    border-style: solid;
    border-width: 0 0 150px 150px;
    border-color: transparent transparent #006940 transparent;
    opacity: 0.8;
}

.triangle-green {
    position: absolute;
    right: 0;
    top: 150px;
    z-index: 1;
    width: 600px;
    height: 0;
    border-style: solid;
    border-width: 0 0 150px 150px;
    border-color: transparent transparent #005f3a transparent;
}

section .container {
    margin: 30px auto;
}

h1 {
    font-family: "Open Sans";
    font-size: 24px;
    margin: 5px 18px 35px;
    padding: 0 20px;
}

p {
    font-family: "Open Sans Light";
    font-size: 14px;
    margin: 10px 18px 50px;
    padding: 0 20px;
    line-height: 2;
}

.col-md-6 ul {
    list-style: none;
}

.col-md-6 li {
    margin: 15px 0;
}

.col-md-6 img {
    margin: 2px 5px;
}

.col-md-6 a {
    color: #000;
    text-decoration: none;
}

.col-md-6 a:hover {
    color: #006940;
}

#presentations {
    background: url("../img/showroom-back.png") no-repeat right bottom;
    background-size: cover;
}