/*Globals*/
/* Links */
a,
a:focus,
a:hover {
	color: #fff;
}

/*Custom default button*/
.btn-default,
.btn-default:hover,
.btn-default:focus {
	color: #333;
	text-shadow: none; /* Prevent inheritence from `body` */
	background-color: #fff;
	border: 1px solid #fff;
}

/*Base structure*/
html,
body {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Raleway' !important;
	background: url('../img/background_marcadagua.jpg') #eaeaea no-repeat;
}

@font-face {
	font-family: 'Raleway';
	src: url('font/Raleway-Regular.ttf') format('truetype');
}

/*Extra markup and styles for table-esque vertical and horizontal centering*/
.site-wrapper {
	display: table;
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;
}

.site-wrapper-inner {
	display: table-cell;
	vertical-align: top;
}

.cover-container {
	margin-right: auto;
	margin-left: auto;
}

/* Padding for spacing */
.inner {
	padding: 20px;
}

/*Header*/
.masthead-brand {
	margin-top: 10px;
	margin-bottom: 10px;
}

.masthead-nav > li {
	display: inline-block;
}

.masthead-nav > li + li {
	margin-left: 20px;
}

.masthead-nav > li > a {
	padding-right: 0;
	padding-left: 0;
	font-size: 14px;
	color: #000; /* IE8 proofing */
	padding-bottom: 0px !important;
	border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
	background-color: transparent;
	border-bottom-color: #006940;
	border-bottom-color: rgba(255,255,255,.25);
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
	color: #006940;
	border-bottom-color: #006940;
}

@media (min-width: 768px) {
	.masthead-brand {
		float: left;
	}
	.masthead-nav {
		float: right;
	}
}


/*Cover*/
.cover {
	padding: 0 20px;
}

.cover .btn-lg {
	padding: 10px 20px;
	font-weight: bold;
}

/*Affix and center*/
@media (min-width: 768px) {
	/* Pull out the header and footer */
	.masthead {
		position: fixed;
		top: 0;
	}
	.mastfoot {
		position: fixed;
		bottom: 0;
	}
	/* Start the vertical centering */
	.site-wrapper-inner {
		vertical-align: middle;
	}
	/* Handle the widths */
	.masthead,
	.mastfoot,
	.cover-container {
		width: 100%; /* Must be percentage or pixels for horizontal alignment */
		margin-left: 20px;
	}
}

@media (min-width: 992px) {
	.masthead,
	.mastfoot,
	.cover-container {
		width: 700px;
	}
}

/*                             Grespanaria                                       */
/*Header*/
.lang {
	position: absolute;
	right: 0;
	color: #000;
	display: inline-block;
	vertical-align: middle;
}

.language {
	font-size: 12px;
	display: inline-block;
	padding-right: 10px;
}

.button {
	font-size: 14px !important;
	border-radius: 0px !important;
	background-color: #f2f2f2 !important;
	color: black;
	width: 53px;
	height: 38px;
}

.button-select {
	border-radius: 0px !important;
	background-color: #006940 !important;
	color: black;
	width: 32px;
}

.dropdown {
	font-size: 14px;
	background-color: #fff;
	margin: 0px !important;
	border-radius: 0px !important;
	border: 0px !important;
	max-width: 83px;  
	text-align: left;
	box-shadow: none;
}

.menu {
	display: inline-block;
	padding-top: 22px;
	padding-left: 25px;
	font-size: 14px; 
	background-color: transparent !important;
	border-color: transparent !important;
	margin-bottom: 0 !important;
	border: none !important; 
}

.navbar-brand {
	height: 0;
	padding: 0;
	font-size: 0;
	color: #006940 !important;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	color: #006940 !important;
}

.navbar-default .navbar-nav > li > a {
	color: #000;
}

.navbar-toggle {
	margin-right: 0;
}

/*Body*/
body {
	background: #eaeaea;
}

.imgHeader {
    background-color: #b9b9b9;
    height: 150px;
    width: 100%;
    overflow: hidden;
}

.triangle-bottom-white {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 575px 575px 0 575px;
    border-color: #eee transparent transparent transparent;
    margin: 0 auto;
    position: absolute;
    top: 300px;
    z-index: -1;
}
.triangle-left {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 250px;
    height: 0;
    border-style: solid;
    border-width: 150px 150px 0 0;
    border-color: #dadada transparent transparent transparent;
}

.img-news {
	background: url('../img/top-news.jpg') no-repeat center;
	background-size: cover;
	margin-left: 100px;
	width: 850px;
	height: 150px;
	z-index: -1;
}

.triangle-darkgreen {
	position: absolute;
	right: 415px;
	top: 140px;
	z-index: 1;
	width: 200px;
	height: 0;
	border-style: solid;
	border-width: 0 0 150px 150px;
	border-color: transparent transparent #006940 transparent;
	opacity: 0.8;
}

.triangle-green {
	position: absolute;
	right: 400px;
	top: 140px;
	z-index: 1;
	width: 200px;
	height: 0;
	border-style: solid;
	border-width: 0 0 150px 150px;
	border-color: transparent transparent #005f3a transparent;
}

.triangle-green-invert {
	position: absolute;
	right: 249px;
	top: 140px;
	z-index: 1;
	width: 200px;
	height: 0;
	border-style: solid;
	border-width: 150px 150px 0 0;
	border-color: #005f3a transparent transparent transparent;
}

.triangle-right {
	position: absolute;
	right: 0;
	top: 140px;
	z-index: 1;
	width: 400px;
	height: 0;
	border-style: solid;
	border-width: 0 0 150px 150px;
	border-color: transparent transparent #005f3a transparent;
}

/*Footer*/
footer {
	width: 100%;
	height: 100%px;
	border-top: 1px solid #fff;
}

.footer {
	margin-left: 22px;
}

.footer-title {
	font-size: 24px;
	font-family: 'Raleway ExtraLight';
	margin-top: 40px;
}

.shape {
	padding-left: 10px;
}

.footer-img-portugal {
	margin: 1%;
}

.footer-img {
	margin: 1%;
}

.copyright {
	margin-left: 15px;
	margin-top: 100px;
}

/*Media Querys*/
@media (max-width: 1199px) {
	.menu {
		padding-top: 0;
		padding-bottom: 20px;
	}
}

@media (max-width: 991px) {
	.menu {
		padding-top: 0;
		padding-bottom: 20px;
	}

	.masthead-nav > li + li {
		margin-left: 0;
	}
}

@media (max-width: 767px) {
	.navbar-brand {
		height: 50px;
		padding: 15px 15px;
		font-size: 18px;
	}

	.navbar-header {
		width: auto;
	}
}