html, body {overflow: visible}
body {background: #e7e7e7;}
main {height: auto}

[class^="icon-"], [class*=" icon-"] {font-size: 40px;margin-right: 10px;}

.imgHeader {background-color: #b9b9b9;height: 150px;width: 100%;overflow: hidden;position: relative;}

main .container p {line-height: 28px;padding: 30px 0 5px;margin: 0;}
main .profile {max-width: 700px;padding: 40px 0 20px;}
main .profile h2 {font-size: 24px;font-family: Raleway, sans-serif;font-weight: 400;margin: 0;}

main .media {margin: 15px 0 70px;}
main .media a {margin: 0 0 20px;}
main .media h3 {font-size: 18px;font-weight: 400;}
main .media h3 span {display: inline-block;height: 40px;vertical-align: top;padding-top: 12px;}

main .row {margin: 20px -15px 0;padding: 0 0 40px;}
main .row .col-md-2 {min-width: 235px;vertical-align: top;}
main .row .col-md-10 {max-width: 850px;vertical-align: top;}
main .row .col-md-10 div p:first-child {padding-top: 0;}
main .row .col-md-10  a {margin: 0 0 20px;}
main .row .col-md-10 h3 {font-size: 16px;font-weight: 400;}
main .row .col-md-10 h3 span {display: inline-block;height: 40px;vertical-align: top;padding-top: 12px;}

footer {margin: 50px 0 0;}


.triangle-left {position: absolute;top: 0;left: 0;z-index: 1;width: 385px;height: 0;
    border-style: solid;border-width: 150px 150px 0 0;border-color: #dadada transparent transparent transparent;}

.img-news {background: url('../img/top-group.png') no-repeat center;background-size: cover;
    margin-left: 235px;width: 925px;height: 150px;z-index: 0;}

.triangle-darkgreen {position: absolute;right: 715px;top: 0;z-index: 1;width: 200px;height: 0;
    border-style: solid;border-width: 0 0 150px 150px;border-color: transparent transparent #006940 transparent;opacity: 0.8;}

.triangle-green {position: absolute;right: 0;top: 0;z-index: 1;width: 895px;height: 0;
    border-style: solid;border-width: 0 0 150px 150px;border-color: transparent transparent #005f3a transparent;}

.afterImgHeader {width: 100%;z-index: -1;}

.triangle-bottom-left {width: 0;height: 0;position: absolute;right: 715px;z-index: -1;
    border-style: solid;border-width: 200px 0 0 200px;border-color: #eee transparent transparent transparent;}

.rectangle {width: 720px;height: 0;position: absolute;right: 0;z-index: -1;
    border-style: solid;border-width: 100px 0 100px 0;border-color: #eee #eee #eee #eee;}

.triangle-bottom {width: 0;height: 0;position: absolute;right: 0;top: 350px;z-index: -1;
    border-style: solid;border-width: 357px 357px 0 357px;border-color: #eee transparent transparent transparent;}

.img-triang {z-index: 2;position: absolute;right: 490px;top: 50px;width: 350px;}

.img-triang2 {z-index: 2;position: absolute;right: 438px;top: 275px;width: 350px;}

.triangle-little-bottom {width: 0;height: 0;position: absolute;right: 490px;top: 225px;z-index: 1;
    border-style: solid;border-width: 50px 50px 0 50px;border-color: #4b4b4b transparent transparent transparent;}
main .profile {max-width: 680px;}



/* ========== MEDIA QUERYS ================================================================ */
@media screen and (max-width: 1800px) {
    .img-news {margin-left: 175px;}
    .triangle-left {width: 325px;}
    .triangle-darkgreen {right: 655px;}
    .triangle-green {width: 835px;}

    .triangle-bottom-left {right: 655px;}
    .rectangle {width: 660px;}
    .triangle-bottom {border-width: 327px 327px 0 327px;}

    .img-triang {right: 430px;}
    .img-triang2 {right: 378px;}
    .triangle-little-bottom {right: 430px;}
}

@media screen and (max-width: 1700px) {
    .img-news {margin-left: 125px;}
    .triangle-left {width: 275px;}
    .triangle-darkgreen {right: 605px;}
    .triangle-green {width: 785px;}

    .triangle-bottom-left {right: 605px;}
    .rectangle {width: 610px;}
    .triangle-bottom {border-width: 303px 303px 0 302px;}

    .img-triang {right: 380px;}
    .img-triang2 {right: 328px;}
    .triangle-little-bottom {right: 380px;}

    main .profile {max-width: 680px;}
}

@media screen and (max-width: 1600px) {
    .img-news {margin-left: 75px;}
    .triangle-left {width: 225px;}
    .triangle-darkgreen {right: 555px;}
    .triangle-green {width: 735px;}

    .triangle-bottom-left {right: 555px;}
    .rectangle {width: 560px;}
    .triangle-bottom {border-width: 277px 277px 0 278px;}

    .img-triang {right: 330px;}
    .img-triang2 {right: 278px;}
    .triangle-little-bottom {right: 330px;}

}

@media screen and (max-width: 1500px) {
    .img-news {margin-left: 25px;}
    .triangle-left {width: 175px;}
    .triangle-darkgreen {right: 505px;}
    .triangle-green {width: 685px;}

    .triangle-bottom-left {right: 505px;}
    .rectangle {width: 510px;}
    .triangle-bottom {border-width: 253px 253px 0 252px;}

    .img-triang {right: 280px;}
    .img-triang2 {right: 228px;}
    .triangle-little-bottom {right: 280px;}

    main .profile {max-width: 670px;}
}

@media screen and (max-width: 1366px) {
    .img-news {margin-left: -45px;}
    .triangle-left {display: none;}
    .triangle-darkgreen {right: 435px;}
    .triangle-green {width: 615px;}

    .triangle-bottom-left {right: 435px;}
    .rectangle {width: 440px;}
    .triangle-bottom {border-width: 217px 217px 0 218px;}

    .img-triang {right: 210px;}
    .img-triang2 {right: 158px;}
    .triangle-little-bottom {right: 210px;}
}

@media screen and (max-width: 1199px) {
    .img-news {margin-left: -25px;}
    .triangle-darkgreen {right: 255px;}
    .triangle-green {width: 435px;}

    .triangle-bottom-left {right: 255px;}
    .rectangle {width: 260px;}
    .triangle-bottom {right: -180px;}

    .img-triang {right: 30px;}
    .img-triang2 {right: -22px;}
    .triangle-little-bottom {right: 30px;}

    main .profile {max-width: 65%;}
    main .container img {margin-bottom: 20px;}
}

@media screen and (max-width: 991px) {
    .afterImgHeader, .imgHeader {display: none}

    main {padding-bottom: 0;}
    main .profile {max-width: 100%;}
}