html, body {overflow: visible;}
body {background: #e7e7e7;}
main {height: auto; font-family: "Open Sans", sans-serif;}

main section .container {margin: 30px auto;}
main .contactus, main .showroom {color: #313131;font-weight: 300;line-height: 30px;}
main h3 {font-size: 18px;margin: 0 0 30px;line-height: 30px;}
main p {font-size: 14px;}

main .contactus #mails a {font-size: 14px;color: #006940;}
main #mails {display: block;margin: 0 0 30px;}
main input, main textarea {margin: 5px;}

main .contactus .form-control {border: 0;border-radius: 0;}
main .contactus .btn-block {background-color: #006940;border: 0;color: #fff;height: 35px;font-weight: 500;
    -webkit-border-radius: 25px;-moz-border-radius: 25px;border-radius: 25px; }

main .captcha {display: block;margin: 5px;position: relative;}
main .captcha .form-control {display: inline-block;width: 70%;margin: 0;position: absolute;right: -10px;}
main .divider {border: 0;margin: -10px 0 40px;}

main .showroom {
    border-top: 1px solid #fff;
    background: url("../img/showroom-back.png") no-repeat center top;
    background-size: cover;
    padding-bottom: 10px;
    margin-bottom: -60px;
}
main h1 {font-size: 24px;font-family: Raleway, sans-serif;font-weight: 400;margin: 5px 15px 35px 0;color: #006940;}

main .showroom h3 {margin: 0;font-size: 24px;font-weight: 300;}
main #map-canvas{width:100%;height:380px;display:block;}
main #map-canvas img {max-width: none;}

/* =========================== MEDIA QUERYS =================================== */
@media screen and (max-width: 991px) {
    .contactus .row .col-md-3 {width: 50%;display: inline-block;float: left;vertical-align: top;}
    .contactus .row .col-md-3:first-child {margin: 0 180px 20px 0}
    .contactus .row .col-md-3:last-child {float: right;margin-top: -980px}

    .showroom .container .row .col-md-6 {width: 49%;display: inline-block;vertical-align: top;}
}

@media screen and (max-width: 564px) {
    .contactus .row .col-md-3:last-child {
        margin-top: -1010px;
    }
}

@media screen and (max-width: 450px) {
    .contactus .row .col-md-3, .showroom .container .row .col-md-6 {
        width: 100%;
        display: block;
        margin: 0;
        text-align: center;
        float: none;
    }
    .contactus .row .col-md-3:last-child {
        margin: 0;
    }
}