html, body {overflow: visible; font-family: "Open Sans", sans-serif;}

section .container {margin: 30px auto;}
.contactus, .showroom {color: #313131;font-weight: 300;line-height: 30px;}
h3 {font-size: 18px;margin: 0 0 30px;line-height: 30px;}
p {font-size: 14px;}

.contactus #mails a {font-size: 14px;color: #006940;}
#mails {display: block;margin: 0 0 30px;}
input, textarea {margin: 5px;}

.contactus .form-control {border: 0;border-radius: 0;}
.contactus .btn-block {background-color: #006940;border: 0;border-radius: 0;color: #fff;}

.captcha {display: block;margin: 5px;position: relative;}
.captcha .form-control {display: inline-block;width: 70%;margin: 0;position: absolute;right: -10px;}
.divider {border: 0;margin: -10px 0 40px;}

.showroom {
    border-top: 1px solid #fff;
    background: url("../img/showroom-back.png") no-repeat center top;
    background-size: cover;
    padding-bottom: 100px;
    margin-bottom: -120px;
}
h1 {font-family: "Raleway", sans-serif;font-weight: 300;font-size: 24px;margin: 5px 15px 35px 0;color: #006940;}

.showroom h3 {margin: 0;font-size: 24px;font-weight: 300;}
#map-canvas{width:100%;height:380px;display:block;}
#map-canvas img {max-width: none;}

footer {font-family: "Raleway", sans-serif}


@media screen and (max-width: 991px) {
    .contactus .row .col-md-3 {width: 50%;display: inline-block;float: left;vertical-align: top;}
    .contactus .row .col-md-3:first-child {margin: 0 180px 20px 0}
    .contactus .row .col-md-3:last-child {float: right;margin-top: -980px}

    .showroom .container .row .col-md-6 {width: 49%;display: inline-block;vertical-align: top;}
}

@media screen and (max-width: 450px) {
    .contactus .row .col-md-3, .showroom .container .row .col-md-6 {
        width: 100%;
        display: block;
        margin: 0;
        text-align: center;
        float: none;
    }
    .contactus .row .col-md-3:last-child {
        margin: 0;
    }
}