html, body {overflow: visible}
body {background: #e7e7e7;}
main {height: auto; font-family: "Open Sans", sans-serif;}

.imgHeader {background-color: #dadada;height: 150px;width: 100%;overflow: hidden;position: relative;z-index: -1;}

.img-news {background: url('../img/top-news.png') no-repeat center;background-size: cover;
    margin-left: 235px;width: 925px;height: 150px;z-index: -1;}

.triangle-darkgreen {position: absolute;right: 710px;top: 0;z-index: 2;width: 200px;height: 0;
    border-style: solid;border-width: 0 0 150px 150px;border-color: transparent transparent #006940 transparent;opacity: 0.8;}

.triangle-green {position: absolute;right: 0;top: 0;z-index: 2;width: 890px;height: 0;
    border-style: solid;border-width: 0 0 150px 150px;border-color: transparent transparent #005f3a transparent;}

.triangle-green-invert {position: absolute;right: 480px;top: 0;z-index: 2;width: 200px;height: 0;
    border-style: solid;border-width: 150px 150px 0 0;border-color: #005f3a transparent transparent transparent;}

.triangle-right-grey {position: absolute;right: 0;top: 0;z-index: 2;width: 630px;height: 0;
    border-style: solid;border-width: 0 0 150px 150px;border-color: transparent transparent #b9b9b9 transparent;}


main .container {margin: 30px auto 0;}
main .container div .row .col-md-3 {min-width: 280px;margin: 0 0 20px;display: inline-block;vertical-align: top;padding: 0 20px 10px 0;}
main h1 {font-size: 24px;font-family: Raleway, sans-serif;font-weight: 400;margin: 5px 0 35px;}


main .date {font-weight: 300;font-size: 18px;margin-top: 10px;}
main h4 {font-weight: 700;font-size: 18px;margin: -5px 0 10px;height: 30px;clear: both;}

main .col-md-3 img {display: inline-block;margin: 0 auto;}
main .row {margin: 20px auto 30px;}

main .col-md-6 {padding: 0 30px 10px 0;}
main .video-feed iframe {width: 100%;}
main .video-feed {max-width: 560px;margin: 0 auto 30px}


/* ========== MEDIA QUERYS ================================================================ */
@media screen and (max-width: 1800px) {
    .img-news {margin-left: 175px;}
    .triangle-darkgreen {right: 655px;}
    .triangle-green {width: 835px;}
    .triangle-right-grey {width: 570px;}
}

@media screen and (max-width: 1700px) {
    .img-news {margin-left: 125px;}
    .triangle-darkgreen {right: 605px;}
    .triangle-green {width: 785px;}
    .triangle-right-grey {width: 520px;}
}

@media screen and (max-width: 1600px) {
    .img-news {margin-left: 75px;}
    .triangle-darkgreen {right: 555px;}
    .triangle-green {width: 735px;}
    .triangle-right-grey {width: 480px;}
}

@media screen and (max-width: 1500px) {
    .img-news {margin-left: 25px;}
    .triangle-darkgreen {right: 505px;}
    .triangle-green {width: 685px;}
    .triangle-right-grey {width: 430px;}
}

@media screen and (max-width: 1366px) {
    .img-news {margin-left: -40px;}
    .triangle-darkgreen {right: 435px;}
    .triangle-green {width: 615px;}
    .triangle-right-grey {width: 380px;}
}

@media screen and (max-width: 1199px) {
    .img-news {margin-left: -25px;}
    .triangle-darkgreen {right: 255px;}
    .triangle-green {width: 435px;}
    .triangle-right-grey {width: 170px;}

    main .container div .row .col-md-3 {width: 33%;}
}

@media screen and (max-width: 991px) {
    .imgHeader {display: none}

    main .container div .row .col-md-3 {width: 50%;min-width: 265px;}
}

@media screen and (max-width: 610px) {
    main .container div .row .col-md-3 {width: 100%;text-align: center;}

}