html, body {overflow: visible}
body {background: #e7e7e7;}
main {height: auto; font-family: "Open Sans", sans-serif;}

.imgHeader {background-color: #dadada;height: 150px;width: 100%;overflow: hidden;position: relative;z-index: -1;}

.triangle-left {position: absolute;top: 0;left: 0;z-index: 0;width: 265px;height: 0;
    border-style: solid;border-width: 150px 150px 0 0;border-color: #dadada transparent transparent transparent;}
.img-news {background: url('../img/top-news.jpg') no-repeat center;background-size: cover;
    margin-left: 115px;width: 925px;height: 150px;z-index: -1;}

.triangle-darkgreen {position: absolute;right: 575px;top: 0;z-index: 1;width: 200px;height: 0;
    border-style: solid;border-width: 0 0 150px 150px;border-color: transparent transparent #006940 transparent;opacity: 0.8;}

.triangle-green {position: absolute;right: 555px;top: 0;z-index: 1;width: 200px;height: 0;
    border-style: solid;border-width: 0 0 150px 150px;border-color: transparent transparent #005f3a transparent;}

.triangle-green-invert {position: absolute;right: 400px;top: 0;z-index: 1;width: 200px;height: 0;
    border-style: solid;border-width: 150px 150px 0 0;border-color: #005f3a transparent transparent transparent;}

.triangle-right {position: absolute;right: 0;top: 0;z-index: 1;width: 550px;height: 0;
    border-style: solid;border-width: 0 0 150px 150px;border-color: transparent transparent #b9b9b9 transparent;}

.triangle-bottom-white {width: 0;height: 0;margin: 0 0 0 115px;position: absolute;top: 150px;z-index: -1;
    border-style: solid;border-width: 575px 575px 0 575px;border-color: #eee transparent transparent transparent;}


main .container {margin: 30px auto 0;}
main .container div .row .col-md-4 {min-height: 280px;margin: 0 0 10px;}
main h1 {font-family: "Raleway", sans-serif;font-weight: 300;font-size: 24px;margin: 5px 15px 35px;}

main .media-feed, .media-feed h4 {line-height: 30px;color: #313131;}
main .date {font-weight: 300;font-size: 18px;margin-top: 10px;}
main h4 {font-weight: 700;font-size: 18px;margin: -5px 0 10px;height: 60px;}

main .col-md-4 p {font-weight: 300;font-size: 14px;}
main .col-md-4 p > a {font-weight: 400;font-size: 14px;color: #006940;margin-left: 6px;}
main .row {margin: 20px auto 0;}