html, body {overflow: visible}
body {background: #e7e7e7;}
main {height: auto; font-family: "Open Sans", sans-serif;}

[class^="icon-"], [class*=" icon-"] {font-size: 40px;margin-right: 5px;}

.bg-presentations {background: url("../img/back-presentation.png") no-repeat right;background-size: cover;padding-bottom: 60px;margin-bottom: -60px;}

.imgHeader {background-color: #b9b9b9;height: 150px;width: 100%;overflow: hidden;}

.triangle-left-grey {position: absolute;top: 0;left: 70px;z-index: 0;width: 200px;height: 0;
    border-style: solid;border-width: 150px 150px 0 0;border-color: #e7e7e7 transparent transparent transparent;}

.triangle-left {position: absolute;top: 0;left: 0;z-index: 1;width: 0;height: 0;
    border-style: solid;border-width: 250px 250px 0 0;border-color: #eee transparent transparent transparent;}

.img-news {background: url('../img/top-group.png') no-repeat center;background-size: cover;
    margin-left: 115px;width: 925px;height: 150px;z-index: 0;}

.triangle-darkgreen {position: absolute;right: 575px;top: 0;z-index: 1;width: 200px;height: 0;
    border-style: solid;border-width: 0 0 150px 150px;border-color: transparent transparent #006940 transparent;opacity: 0.8;}

.triangle-green {position: absolute;right: 0;top: 0;z-index: 1;width: 760px;height: 0;
    border-style: solid;border-width: 0 0 150px 150px;border-color: transparent transparent #005f3a transparent;}


main .container {margin: auto;padding-top: 30px;}
main h1 {font-size: 24px;font-family: Raleway, sans-serif;font-weight: 400;margin: 5px 15px 35px;padding: 0 20px;}
main p {font-weight: 300;font-size: 14px;margin: 0 18px 40px;padding: 0 20px;line-height: 2;}

main .col-md-6 ul {list-style: none;}
main .col-md-6 li {margin: 15px 0;}
main .col-md-6 a {color: #000;text-decoration: none;}
main .col-md-6 a:hover {color: #006940;}
main .col-md-6 li span {display: inline-block;height: 40px;vertical-align: top;padding-top: 12px;}
main .col-md-6 li .tamanho {margin-left: 10px;padding-top: 11px;}
main .col-md-12, main .col-md-12 h1, main .col-md-12 p {padding: 0;}


/* ========== MEDIA QUERYS ================================================================ */
@media screen and (max-width: 1700px) {
    .triangle-left-grey {left: 70px;width: 200px;}
    .triangle-left {left: 0;border-width: 250px 250px 0 0;}
    .img-news {margin-left: 100px;}
    .triangle-darkgreen {right: 490px;width: 300px;}
    .triangle-green {width: 765px;}
}

@media screen and (max-width: 1500px) {
    .triangle-left-grey {left: -10px;}
    .triangle-left {left: -80px;}
    .img-news {margin-left: 40px;}
    .triangle-darkgreen {right: 325px;width: 300px;}
    .triangle-green {width: 605px;}
}

@media screen and (max-width: 1366px) {
    .triangle-left {width: 150px;}
    .img-news {margin-left: 0;}
    .triangle-darkgreen {right: 290px;}
    .triangle-green {width: 570px;}
}

@media screen and (max-width: 1150px) {
    .triangle-darkgreen {right: 75px;}
    .triangle-green {width: 355px;}
}

@media screen and (max-width: 991px) {
    .imgHeader {display: none}
}