html, body {overflow: visible}
body {background: #e7e7e7;}
main {height: auto}

.imgHeader {background-color: #b9b9b9;height: 150px;width: 100%;overflow: hidden;position: relative;}

main .container p {line-height: 28px;padding: 30px 0 5px;margin: 0;}
main .profile {max-width: 700px;padding: 40px 0 20px;}
main .profile h2 {font-size: 24px;font-family: Raleway, sans-serif;font-weight: 400;margin: 0;}

main .media {margin: 15px 0 70px;}
main .media a {width: 100%;display: block;margin: 0 0 30px;}
main .media a img {margin: 0 20px 0 0;}
main .media h3 {font-size: 22px;font-weight: 400;}
main .media h4 {font-size: 16px;font-weight: 400;}

main .row {margin: 20px -15px 0;padding: 0 0 40px;}
main .row .col-md-2 {min-width: 235px;vertical-align: top;}
main .row .col-md-10 {max-width: 850px;vertical-align: top;}
main .row .col-md-10 div p:first-child {padding-top: 0;}
main .row .col-md-10 a {display: block}
main .row .col-md-10 a img {margin: 0 20px 0 0;}

footer {margin: 50px 0 0;}


.triangle-left {position: absolute;top: 0;left: 0;z-index: 1;width: 265px;height: 0;
    border-style: solid;border-width: 150px 150px 0 0;border-color: #dadada transparent transparent transparent;}

.img-news {background: url('../img/top-group.png') no-repeat center;background-size: cover;
    margin-left: 115px;width: 925px;height: 150px;z-index: 0;}

.triangle-darkgreen {position: absolute;right: 575px;top: 0;z-index: 1;width: 200px;height: 0;
    border-style: solid;border-width: 0 0 150px 150px;border-color: transparent transparent #006940 transparent;opacity: 0.8;}

.triangle-green {position: absolute;right: 0;top: 0;z-index: 1;width: 760px;height: 0;
    border-style: solid;border-width: 0 0 150px 150px;border-color: transparent transparent #005f3a transparent;}

.afterImgHeader {width: 100%;z-index: -1;}

.triangle-bottom-left {width: 0;height: 0;position: absolute;right: 575px;z-index: -1;
    border-style: solid;border-width: 200px 0 0 200px;border-color: #eee transparent transparent transparent;}

.rectangle {width: 0;height: 0;position: absolute;right: 0;z-index: -1;
    border-style: solid;border-width: 100px 300px 100px 275px;border-color: #eee #eee #eee #eee;}

.triangle-bottom {width: 0;height: 0;position: absolute;right: 0;top: 350px;z-index: -1;
    border-style: solid;border-width: 287px 287px 0 287px;border-color: #eee transparent transparent transparent;}

.img-triang {z-index: 2;position: absolute;right: 350px;top: 50px;width: 350px;}

.img-triang2 {z-index: 2;position: absolute;right: 298px;top: 275px;width: 350px;}

.triangle-little-bottom {width: 0;height: 0;position: absolute;right: 350px;top: 225px;z-index: 1;
    border-style: solid;border-width: 50px 50px 0 50px;border-color: #4b4b4b transparent transparent transparent;}
main .profile {max-width: 680px;}



/* ========== MEDIA QUERYS ================================================================ */
@media screen and (max-width: 1700px) {
    .triangle-left {position: absolute;top: 0;left: 0;z-index: 1;width: 265px;height: 0;
        border-style: solid;border-width: 150px 150px 0 0;border-color: #dadada transparent transparent transparent;}

    .img-news {background: url('../img/top-group.png') no-repeat center;background-size: cover;
        margin-left: 115px;width: 925px;height: 150px;z-index: 0;}

    .triangle-darkgreen {position: absolute;right: 575px;top: 0;z-index: 1;width: 200px;height: 0;
        border-style: solid;border-width: 0 0 150px 150px;border-color: transparent transparent #006940 transparent;opacity: 0.8;}

    .triangle-green {position: absolute;right: 0;top: 0;z-index: 1;width: 760px;height: 0;
        border-style: solid;border-width: 0 0 150px 150px;border-color: transparent transparent #005f3a transparent;}

    .afterImgHeader {width: 100%;z-index: -1;}

    .triangle-bottom-left {width: 0;height: 0;position: absolute;right: 575px;z-index: -1;
        border-style: solid;border-width: 200px 0 0 200px;border-color: #eee transparent transparent transparent;}

    .rectangle {width: 0;height: 0;position: absolute;right: 0;z-index: -1;
        border-style: solid;border-width: 100px 300px 100px 275px;border-color: #eee #eee #eee #eee;}

    .triangle-bottom {width: 0;height: 0;position: absolute;right: 0;top: 350px;z-index: -1;
        border-style: solid;border-width: 287px 287px 0 287px;border-color: #eee transparent transparent transparent;}

    .img-triang {z-index: 2;position: absolute;right: 350px;top: 50px;width: 350px;}

    .img-triang2 {z-index: 2;position: absolute;right: 298px;top: 275px;width: 350px;}

    .triangle-little-bottom {width: 0;height: 0;position: absolute;right: 350px;top: 225px;z-index: 1;
        border-style: solid;border-width: 50px 50px 0 50px;border-color: #4b4b4b transparent transparent transparent;}
    main .profile {max-width: 680px;}
}

@media screen and (max-width: 1500px) {
    .triangle-left {width: 250px;}
    .img-news {margin-left: 100px;}
    .triangle-darkgreen {right: 325px;width: 300px;}
    .triangle-green {width: 605px;}

    .triangle-bottom-left {right: 425px;}
    .rectangle {border-width: 100px 200px 100px 225px;}
    .triangle-bottom {border-width: 213px 213px 0 213px;}
    .img-triang {right: 200px;}
    .img-triang2 {right: 150px;}
    .triangle-little-bottom {right: 200px;}

    main .profile {max-width: 725px;}
}

@media screen and (max-width: 1366px) {
    .triangle-left {width: 150px;}
    .img-news {margin-left: 0;}
    .triangle-darkgreen {right: 240px;}
    .triangle-green {width: 520px;}

    .triangle-bottom-left {right: 340px;}
    .rectangle {border-width: 100px 190px 100px 150px;}
    .triangle-bottom {border-width: 170px 170px 0 170px;}
    .img-triang {right: 115px;}
    .img-triang2 {right: 64px;}
    .triangle-little-bottom {right: 115px;}

    main .profile {max-width: 760px;}
}

@media screen and (max-width: 1150px) {
    .triangle-darkgreen {right: 50px;}
    .triangle-green {width: 330px;}

    .triangle-bottom-left {right: 150px;}
    .rectangle {border-width: 100px 50px 100px 100px;}
    .triangle-bottom {border-width: 75px 75px 0 75px;}
    .img-triang {top: 100px;right: 25px;width: 250px;}
    .img-triang2 {right: -26px;width: 250px}
    .triangle-little-bottom {right: 25px;}

    main .profile {max-width: 690px;}
}

@media screen and (max-width: 991px) {
    .afterImgHeader, .imgHeader {display: none}
}