/* ========== FONTS ================================================================ */
@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-Thin.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-ExtraLight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('font/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('font/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Open Sans';
    src: url('font/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* ========== BODY ================================================================ */
a {color: #000;}
a:focus, a:hover {color: #006940; text-decoration: none}
.btn-default, .btn-default:hover, .btn-default:focus {color: #333;text-shadow: none;background-color: #fff;border: 1px solid #fff;}

html,body {width: 100%;overflow: hidden}
body {
    font-family: 'Raleway', sans-serif;
    background: url('img/showroom-back.png') #e7e7e7 no-repeat;
    background-size: cover;
    color: #333;
}

/* ========== HEADER ================================================================ */
header {height: 125px;}
header .container {position: relative;height: 100%;}
.logo h1 {
    width: 279px;
    height: 60px;
    display: inline-block;
    background: url("img/logo.png") no-repeat;
    background-size: contain;
    text-indent: -9999px;
}
.logo {display: inline-block;position: absolute;left: 20px;top: 20px;}
.logo a {height: 100%; display: inline-block; width: 100%;}

.lang {
    position: absolute;
    right: 15px;
    top:0;
    color: #434343;
    display: inline-block;
    height: 47px;
}
.lang form {height: 47px;margin: 0;padding: 0;overflow: hidden;}
.lang label.language {
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    padding-right: 10px;
    margin: 18px 0 0;
}
.lang select {
    font-size: 14px !important;
    border-radius: 0px !important;
    background-color: #f2f2f2 !important;
    color: black;
    width: 80px;
    height: 47px;
    margin: -7px 0 0;
    border: 0;
    padding-left: 20px;
    line-height: 20px;
}
.lang input {display: none;}

.menu {
    display: inline-block;
    padding-top: 32px;
    padding-left: 25px;
    font-size: 14px;
    margin: 20px 0 0 330px;
    color: #000;
}
.menu a.active {color: #006940;border-bottom: 2px solid #006940;}
ul.nav > li {display: inline-block!important;margin: 0 5px;}
ul.nav > li > a {padding: 10px 5px 8px;text-transform: uppercase}
ul.nav > li > a:hover {background-color: transparent;}


/* ========== FOOTER ================================================================ */
footer {width: 100%;height: 450px;border-top: 1px solid #fff;background: #eaeaea;padding: 5px 0 0;}
.footer-title {font-size: 24px;font-weight: 100;color: #272727;margin-top: 70px}
.footer-title span {color: #969696}
.shape {padding-left: 10px;}
.footer-img-portugal, .footer-img {margin: 1%;}
.copyright {font-family: "Open Sans", sans-serif; font-weight: 300; font-size: 12px; color: #424242; margin: 15px 0 0 15px;}
.copyright span {font-weight: 700;}

/* ========== MAIN ================================================================ */
main {
    padding-bottom: 60px;
    position: relative;
    height: 420px;
}

.triangle-left {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 250px 0 0 275px;
    border-color: transparent transparent transparent #eeeeee;
}

.triangle-right {
    position: absolute;
    right: -30px;
    top: 0;
    z-index: 1;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 400px 500px 0;
    border-color: transparent #00603b transparent transparent;
    opacity: 0.5;
}

.pageOption {
    overflow: hidden;
    position: absolute;
    right: -153px;
    bottom: 0;
    z-index: -1;
    height: 420px;
}

.title {
    font-weight: 300;
    font-size: 48px;
    margin: 90px 0 60px;
    color: #969696;
}
.lastNews {
    margin: 0;
    max-width: 620px;
    position: relative;
}
.lastNews .news {
    font-weight: 100;
    font-size: 24px;
    margin: 0 0 35px;
}
.lastNews .carousel.slide {position: static}
.lastNews .carousel-control {
    position: absolute;
    top: 2px;
    right: 10px;
    height: 30px;
    width: 30px;
    background: transparent;
    color: #006940;
}
.lastNews .carousel-control .glyphicon {font-size: 20px;}
.lastNews .left.carousel-control {right: 60px;left: initial}

.lastNews .img-news {
    width: 150px!important;
    height: 100px!important;
    display: inline-block!important;
}

.lastNews .news-text {
    margin: 0 0 0 20px;
    display: inline-block;
    max-width: 430px;
    width: 80%;
    height: 100px;
    vertical-align: bottom;
}

.lastNews h3 {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 18px;
    margin: 8px 0 0;
    line-height: 22px;
}

.lastNews p {
    font-family: "Open Sans";
    font-weight: 300;
    margin: 8px 0 0;
    line-height: 20px;
}

table {
    width: 100%;
}

.read-more {
    color: #33795a;
}

/* ========== MEDIA QUERYS ================================================================ */
@media (max-width: 1366px) {
    .triangle-left {border-width: 180px 0 0 175px;}
    .triangle-right {border-width: 0 345px 511px 0;}
    .pageOption {width: 630px;height: 430px;top: 0;}
}

@media screen and (max-width: 991px) {
    .container {width: 95%;}
    .logo h1 {width: 225px;}

    .menu {font-size: 13px;;padding: 32px 0 0;margin: 15px 0 0 270px;}
    ul.nav > li {margin: 0;}

    .navbar.navbar-default {background: transparent;border: 0;position: absolute;top: 50px;right: 0;width: 200px;z-index: 10;}
    .navbar ul.nav > li {display: block!important;background: #ddd;padding: 0 10px;}
    .navbar-default .navbar-toggle {background: #ddd;}

    .navbar a {border-bottom: 1px dashed #e7e7e7;}
    .navbar a:last-child {border: 0;}
    .navbar a:focus, .navbar a:hover {color: #006940; border-bottom: 2px solid #006940;}

    .triangle-left, .triangle-right {display: none;}
}